AI_MODEL_NAME=visolex/phobert-v2-hsd
AI_MODEL_REVISION=221aca47de6568d519eba61a94d7fdae3ca680ae
AI_BASE_MODEL_NAME=vinai/phobert-base-v2
AI_BASE_MODEL_REVISION=86cd7fd4c148980922ac11a2cf5e257f2ba639e1
AI_MODEL_CACHE_DIR=.cache/huggingface
AI_DEVICE=auto
AI_MODEL_MAX_LENGTH=256
AI_MAX_INPUT_CHARACTERS=20000
